<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <input type="hidden" class="form-control" formControlName="id" />

  <div class="form-group">
    <label for="">Name</label>
    <!-- Add from List -->
    <select type="text" class="form-control" formControlName="name"><input type="text" class="form-control"
        formControlName="name" />
      <option value="apple">Apple</option>
      <option value="orange">Orange</option>
      <option value="banana">Banana</option>
    </select>

    <!-- Add free -->
    <input type="text" class="form-control" formControlName="name" />
  </div>

  <div class="form-group">
    <label for="">Quantity</label>
    <input type="number" class="form-control" formControlName="quantity" />
  </div>

  <div class="form-group">
    <label for="">Price</label>
    <input type="number" step="any" class="form-control" formControlName="price" />
  </div>

  <div>
    <a routerLink="/shop/products" class="btn btn-secondary">Cancel</a>&nbsp;
    <input type="submit" class="btn btn-primary" value="OKf" />
  </div>
</form>
