<div class="container custom-container-2">

  <!-- Show it when there is no product -->
  <div class="no-data text-center" *ngIf="Product.length == 0">
    <p>There is no product added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/shop/create-product">Add Product</button>
  </div>

  <!-- products list table, it hides when there is no product -->
  <div *ngIf="Product.length !== 0">
    <h3 class="mb-3 text-center">Product Detail</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of Product">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td>
              <span class="edit" routerLink="/shop/edit-product/{{product.id}}">Edit</span>
              <span class="delete" (click)="deleteProduct(product.id)">Deletei</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
