<div class="container py-3">
  <h4 class="text-center text-uppercase">How to calculate Shopping Card in Angular </h4>
  <table class="table table-bordered">
    <thead class="bg-danger text-white text-upparcase">
      <tr>
        <th>Product----</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>&nbsp;</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of data; let id=index">
        <td>
          <input type="text" [(ngModel)]="product.name" class="form-control">
        </td>
        <td>
          <input type="number" min="1" [(ngModel)]="product.quantity" class="form-control">
        </td>
        <td>
          <input type="number" min="1" [(ngModel)]="product.price" class="form-control">
        </td>
        <td>{{product.quantity * product.price | currency:'$'}}</td>

        <td>

          <!-- <button routerLink="/products/detail/{{product.id}}" class="btn btn-secondary btn-sm">
                <i class="fa fa-search"></i>
              </button> -->

          <button  class="btn btn-sm btn-danger"><img width="20px"
              src="https://raw.githubusercontent.com/badisalim/shopping-card/master/src/assets/icons/trash.png"
              [routerLink]="['/','shop', 'product-detail', product]" /></button>

        </td>

        <td><a class="btn btn-primary" [routerLink]="['/','shop', 'edit-product', product.id]"
          >Edit</a></td>



        <td><a class="btn btn-primary" [routerLink]="['/','shop', 'create-product', product]"
          >Add</a></td>




      <tr *ngFor="let product of product">
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }}</td>

        <td></td>
      </tr>

      <tr>
        <td><button type="button" (click)="addItem()" class="btn btn-sm btn-primary rounded-0">
            Add Product-</button></td>
        <td>Total:</td>
        <td>{{total() | currency:'$'}}</td>
        <td></td>
      </tr>

    </tbody>
  </table>
</div>
